/* body{
  background-size: cover;
background-repeat: no-repeat;
 

} */
/* img {
  width: 300px;
  border-radius: 20px;

} */

.img_2 {
  width: 300px;
  height: 450px;
  border-radius: 20px;
  opacity: 1;
margin-bottom: 50px;

}
.container{
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) url(../imges/background.avif);
  background-size: cover;
  height: 100%;
  position: relative; 
}
/* .container-fluid {

  
  background-color: rgb(196, 0, 0);

} */

/* .blur-bg
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.5);    
  backdrop-filter: blur(2px);
} */

.col-1 {
  font-weight: bolder;
  font-size: medium;
  font-family: Poppins, sans-serif;

}